body{
    background-color: rgb(228, 241, 255);
}
#box{
    width:80%;height:75%;
    background-color: rgb(184, 229, 247);
    position: fixed;left: 9%;top:15%;
    border:5px grey ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boxhead{
    background-color: rgb(247, 232, 103);
    width:99.5%;height:10%;
    border:3px black double;
    color:rgb(0, 49, 0);
    font-weight: bold;
}
#boxcontent{
    margin-top: 15%;
    flex:0.7;
}
#boxconfirm{
    background-color: rgb(255, 171, 171);
    width: 25%;height: 10%;
    border:3px black double;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;bottom: 20%;left: 20%;
}
#boxconfirm:hover{
    background-color: rgb(243, 96, 96);
}
#boxclose{
    background-color: rgb(255, 171, 171);
    width: 25%;height: 10%;
    border:3px black double;
    display: flex ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;bottom: 20%;right: 20%;
}
#boxclose:hover{
    background-color: rgb(243, 96, 96);
}
#postblock{
    flex-direction: column;
    width:70%;height: 100px;
    position:fixed ;
    top: 1%;left: 1%;
    background-color: antiquewhite;
    color:blue;font-weight: bold;
    overflow: auto;
    word-wrap:break-word;
}
.btn1{
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: rgb(174, 174, 236);
    color: black;
    width: fit-content;
    padding: 7px;
    margin-left: 20px;
}
.btn1:hover{
    background-color: rgb(107, 107, 226);
    color: white;
}
#btnblockall{
    display: flex;
    width: 25%;
    height: 100px;
    position: fixed;top: 1%;right: 1%;
}
#btnfold{
    justify-self: left;
}
#btnblock{
    display: flex;
    width: 100%;
    background-color: rgb(191, 253, 233);
    gap:5px;
    transition:all 0.5s ease-out;
}
.btn2{
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: rgb(124, 255, 213);
    color: black;
    width: 30px;height: 80px;
    padding: 7px;
    writing-mode: vertical-rl;font-size: 20px;font-weight: bold;
}
.btn2:hover{
    background-color: rgb(38, 116, 91);
    color: white;
}
table{
    border: 5px grey ridge;
    margin-top: 130px;
    margin-bottom: 60px;
}
.headtd{
    border-bottom:3px solid;
}
.contenttd{
    border-bottom:3px double;
}
#btnbottom{
    width:95%;height: 50px;
    position:fixed ;
    bottom: 0;left: 1%;
    background-color: rgba(250, 232, 208,0.5);
}
#searchbox,#downloadbox,#downloadPicbox,#hlinkbox{
    background-color: rgb(255, 189, 193);
    position: fixed;
    border:5px grey ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transform: translate(120%,-70%) scale(0) ;
    transition: all 0.8s ease-out;
}
.inputboxhead{
    background-color: rgb(170, 170, 170);
    height:10%;width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;font-weight: bold;
}
.inputboxclose{
    width:50px;
    font-size: xx-large;
    cursor: pointer;
}
.boxcontenti{
    width:100%;
    background-color:rgb(255, 166, 172); 
    font-weight: bold;
    margin-top: 2%;
}
.boxcontent{
    width:100%;
    background-color:rgb(255, 166, 172); 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.boxcontent:hover{
    background-color: lightgrey;
}
.boxinput{
    width: 50%;height: 50%;
    font-size: 24px;
}
.ckInvalue{
    color: darkgreen;
}
.optionv{
    width:30%;height:30%;
    background-color:pink ;
    margin-bottom: 2px;
    cursor: pointer;
}
.optionv:hover{
    background-color:rgb(134, 55, 62) ;
    color: white;
}
.boxcontentselected{
    pointer-events: none;
    opacity: 0.5;
}
.btnarrselected{
    /*pointer-events:none;*/
    color:white;
    background-color: brown;
}
.inputsubmit{
    position: fixed;
    width: 20%;height: 7%;
    border-radius: 5px;
    cursor: pointer;
    background-color: aquamarine;
}
.submitban{
    pointer-events: none;
    background-color: grey;
}
#downloadfhead{
    position: fixed;top: 25%;
    width: 100%;height: 50%;
    background-color: rgb(250, 157, 164);
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
@media(min-width:1200px) and (min-height:500px) {
    #searchbox,#downloadbox,#downloadPicbox,#hlinkbox{
        width:30%;height:60%;
        left: 35%;top:20%;
    }
    #boxhead{
        font-size: xx-large;
    }
    #boxcontent{
        font-size: xx-large;
    }
    #boxconfirm{
        font-size: xx-large;
    }
    #boxclose{
        font-size: xx-large;
    }
    .ckInvalue{
        font-size: 30px;
    }
    .optionv{
        font-size: 20px;
    }
    .boxcontent{
        height:20%;
    }
    .inputsubmit{
        bottom: 10%;
        font-size: larger;
    }
    .boxcontenti{
        height: 7%;
        font-size: 24px;
    }
}
@media(max-width:1199px) and (min-height:500px){
    #searchbox,#downloadbox,#downloadPicbox,#hlinkbox{
        width:85%;height:70%;
        left: 5%;top:15%;
    }
    #boxhead{
        font-size: 24px;
    }
    #boxcontent{
        font-size: 16px;
    }
    #boxconfirm{
        font-size: 16px
    }
    #boxclose{
        font-size: 24px
    }
    .ckInvalue{
        font-size: 20px
    }
    .optionv{
        font-size: 14px;
    }
    .boxcontent{
        height:27%;
    }
    .inputsubmit{
        bottom: 5%;
        font-size: 20px;
    }
    .boxcontenti{
        height: 10%;
        font-size: 20px;
    }
}
@media(max-height:499px){
    #searchbox,#downloadbox,#downloadPicbox,#hlinkbox{
        width:70%;height:85%;
        left: 10%;;top:5%;
    }
    #boxhead{
        font-size: 24px;
    }
    #boxcontent{
        font-size: 16px;
    }
    #boxconfirm{
        font-size: 16px;
    }
    #boxclose{
        font-size: 24px;
    }
    .ckInvalue{
        font-size: 20px;
    }
    .optionv{
        font-size: 16px;
    }
    .boxcontent{
        height:25%;
    }
    .inputsubmit{
        bottom: 5%;
        font-size: 16px;
    }
    .boxcontenti{
        height: 10%;
        font-size: 20px;
    }
}
